@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
    background-color: #fff;
    font-family: 'proxima-nova', sans-serif;
}

* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#grad1 {
    background-color: : #9C27B0;
    /*background-image: linear-gradient(120deg, #FF4081, #81D4FA)*/
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /*box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform1 input,
#msform1 textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform1 input:focus,
#msform1 textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid #1E8BD9;
    outline-width: 0
}

#msform .action-button {
    /*width: 50%;*/
    background: #1E8BD9;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    /*padding: 10px 5px;*/
    margin: 15px 0px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #1E8BD9
}

/*#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}*/

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid #1E8BD9
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #043554;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    width: 25%;
    margin: 0 auto;
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 33%;
    float: left;
    position: relative
}

#progressbar li a{
    cursor: pointer;
}
#progressbar li a:before {
    font-family: FontAwesome;
    content: ""
    /*content: "\f023"*/
}

/*#progressbar #personal:before {
    font-family: FontAwesome;
    content: ""
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: ""
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}*/

#progressbar li a:before {
    width: 25px;
    height: 25px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li a:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 13px;
    z-index: -1
}

#progressbar li.active a:before,
#progressbar li.active a:after {
    background: #1E8BD9;
    /*font-family: FontAwesome;
    content: "\f00c";*/
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}

/*custom css*/

.form-full{
	width: 100% !important;
}

#msform .form-group{
    margin-bottom: 0px;
}

#msform .col-form-label, #msform p{
    color: #043554;
}

.register-sidebar{
    color: #ffffff;
}

.testimonial-div{
  margin: 10%;
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.testimonial-text{
    text-align: left;
    line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .testimonial-div {
    width: 100%;
    height: auto;
    top:0;
    margin: 5%;
    position: relative;
  }
  #msform fieldset .form-card{
    padding: 0px;
  }
}

.action-button-previous{
    padding: 0px;
}
/*
#progressbar li.active a:after {
    font-family: FontAwesome;
    content: "\f00c";
    color: #00000;
}*/
